.blogDisplay{
    background-color: rgb(78, 78, 78);
    position: absolute;
    width: 60%;
    left:20%;
    top:55%;
    border-radius: 10px;
    height: 45px;
    transform:translate(0%,0%);
    z-index: 99;
    padding-top: 1%;
}

.lk {
    font-size: 18px;
    padding:4%;
}

.left-lk {
    padding-left: 2%;
}