.App{
    align-items: center;
    justify-content: center;
}

#Bar {
    position: absolute;
    left:50%;
    top: 100px;
    transform: translate(0%,-50%);
}

#backImg {
    position: absolute;
    top:180px;
}